@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    html {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    input,
    textarea,
    select,
    button {
        outline: none;
    }

    input {
        line-height: normal;
    }

    label,
    button {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: 100%;
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .animated.faster {
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}
